<!doctype html>
<html ng-app="App">
	<head>
		<meta charset="utf-8">
		<title>Atelier La Feuille d'Or | Dorure sur cuir à Paris</title>
		<meta name="description" content="La Feuille d'Or, atelier de dorure sur cuir à Paris depuis 1989, réalise  des titrages et décoration de livres pour les professionnels. L'atelier propose des formations et conférences à l'international.">
		<meta name="keywords" content="dorure sur cuir, doreur sur cuir, dorure reliure, reliure dorure artisanale, dorure restauration, dorure or, dorure, feuille d'or, doreur paris, doreur france, artisanat français, savoir faire français, dorure livre, ancien, dorure feuille or, livres anciens, restauration livres anciens, conservation livre, restauration archive, dorure technique, dorure moderne, dorure à chaud, dorure classique, dorure contemporaine, reliure pastiche, stage dorure, workshop dorure, atelier dorure, cours dorure, titre livre, titrage livre, formation dorure sur cuir, restauration livre ancien formation, conférences dorure sur cuir, photo dorure cuir, image dorure cuir, réalisation dorure livre, livre rare, doreur expérimenté, dorure technique, dorure courante, dorure contemporaine, expert doreur, reliure pastiche, imitation livre ancien">
		<meta name="author" content="Pascale Thérond">
		<meta name="viewport" content="width=device-width">
		<meta name="google-site-verification" content="i3SF3FKuuLXoaPfR1RF_nxFlR7X86FVFEFNzY619fRM" />
		<link href='bower_components/normalize.css/normalize.css' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<style>
			.Loader{
				position: absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				z-index: 1000;

				display: flex;
				justify-content: center;
				align-items: center;

				background-color: #262626;
			}
		</style>
		<link rel="stylesheet/less" href="styles/main.less">
		<script src="bower_components/less.js/dist/less.js"></script>
	</head>
	<body ng-controller="AppCtrl as app" bind-screen-width>

			<div class="Loader" ng-if="!app.loaded">
				<zigouigoui data-color="#e6dcd1" no-delay="true" animation-duration="1.5"></zigouigoui>
			</div>

			<div ng-if="screenWidth < app.minWidth" ng-include src="'app/mobile/mobile.html'"></div>

			<div id="appContainer" class="textureBg" ng-if="screenWidth >= app.minWidth">
				<section class="logo" ng-click="app.go('home')">
					<h1>la feuille d'or</h1>
				</section>

				<menu class="mainMenu">
					<tab ng-click="app.go('atelier')" state-ref="atelier">{{ app.language === 'fr' ? 'atelier' : 'the studio' }}</tab>
					<tab ng-click="app.go('savoirfaire')" state-ref="savoirfaire">{{ app.language === 'fr' ? 'savoir-faire' : 'savoir-faire' }}</tab>
					<tab ng-click="app.go('galerie')" state-ref="galerie">{{ app.language === 'fr' ? 'réalisations' : 'our work' }}</tab>
					<tab ng-click="app.go('formation')" state-ref="formation">{{ app.language === 'fr' ? 'transmission du savoir' : 'education' }}</tab>
					<tab ng-click="app.go('contact')" state-ref="contact">contact</tab>
				</menu>

				<menu class="lang">
					<tab
						ng-click="app.changeLanguage('fr')"
						ng-class="{currentLang: app.language === 'fr'}"
					>fr</tab>
					 |
					<tab
						ng-click="app.changeLanguage('en')"
						ng-class="{currentLang: app.language === 'en'}"
					>en</tab>
				</menu>
				<!-- Main View -->
				<div class="mainView {{app.sectionAnimationType}}" ui-view="main"></div>

				<div class="border top"></div>
				<div class="border right"></div>
				<div class="border bottom"></div>
				<div class="border left"></div>
				<a class="mentionsLegales" target="_blank" href="mentions-legales.html">mentions legales</a>
			</div>

		<!-- Lib -->
		<script>
		 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		 ga('create', 'UA-64702951-1', 'auto');
		 ga('send', 'pageview');
		</script>
		<script src="bower_components/countUp.js/countUp.js"></script>
		<script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<!-- Config -->
        <script src="common/config/httpPostFix.js"></script>
		<!-- Services -->
        <script src="common/services/Api.js"></script>
		<!-- Directives -->
		<script src="common/directives/menu.js"></script>
		<script src="common/directives/timeline.js"></script>
		<script src="common/directives/onWheel.js"></script>
		<script src="common/directives/fullFrame.js"></script>
		<script src="common/directives/textClip.js"></script>
		<script src="common/directives/gallery.js"></script>
		<script src="common/directives/slider.js"></script>
		<script src="common/directives/arrows.js"></script>
		<script src="common/directives/zigouigoui.js"></script>
		<script src="common/directives/bindScreenWidth.js"></script>
		<script src="common/directives/relativeMaxHeight.js"></script>
        <script src="common/directives/windowHeight.js"></script>
		<!-- Filters -->
		<script src="common/filters/index.js"></script>
		<script src="common/filters/slice.js"></script>
		<!-- Constants -->
        <script src="app/Constants.js"></script>
		<!-- Animations -->
		<script src="app/appAnimations.js"></script>
		<script src="app/atelier/animations.js"></script>
		<script src="app/savoirfaire/animations.js"></script>
		<script src="app/formation/animations.js"></script>
		<script src="app/galerie/animations.js"></script>
		<script src="app/contact/animations.js"></script>
        <!-- Controllers -->
		<script src="app/home/home.js"></script>
		<script src="app/atelier/atelier.js"></script>
		<script src="app/atelier/clients/clients.js"></script>
		<script src="app/contact/contact.js"></script>
		<script src="app/contact/membre/membre.js"></script>
		<script src="app/galerie/galerie.js"></script>
		<script src="app/galerie/single/single.js"></script>
		<script src="app/formation/formation.js"></script>
		<script src="app/formation/opened/opened.js"></script>
		<script src="app/savoirfaire/savoirfaire.js"></script>
		<script src="app/savoirfaire/savoir/savoir.js"></script>
		<script src="app/mobile/mobile.js"></script>
        <script src="app/app.js"></script>
	</body>
</html>
