<div
    id="savoirContainer"
    class="container"
>
<!--
    <nav>
        <arrow-right class="arrow right" ng-click="sf.next()"></arrow-right>
    </nav> -->

    <section class="Picture">
        <img full-frame ng-src="{{s.savoir.image.sizes.large || 'assets/images/IMG_9470.jpg'}}" alt="" />
    </section>

    <section class="Details textureBg">
        <div class="Details-content">
            <h1 ng-bind-html="s.savoir.title"></h1>
            <h2 ng-bind-html="s.savoir.baseline"></h2>
            <p ng-bind-html="s.savoir.content"></p>
            <button class="Details-content-contactButton btnSaumon" ng-click="app.go('galerie')">
              {{ app.language === 'fr' ? 'Réalisations' : 'see the work' }}
            </button>
        </div>
    </section>

</div>
