<div
    class="container {{atlr.history[atlr.current].name}}"
    data-on-wheel
    data-down="atlr.down()"
    data-up="atlr.up()"
>

    <timeline
        frame-count="atlr.history.length"
        data-drag-down="atlr.down()"
        data-drag-up="atlr.up()"
    ></timeline>

    <div class="background" ng-repeat="(index, section) in atlr.history" ng-class="{
        active: atlr.current === index
    }">
        <img full-frame ng-src="{{section.bg}}" alt="{{name}}">
    </div>

    <div>
        <div
            class="center {{section.name}}"
            ng-repeat="section in atlr.history | index:atlr.current"
        >
            <p class="stagger baseline">{{section.baseline}}</p>
            <div class="stagger fioriture"></div>
            <h1 class="stagger title">{{section.title}}</h1>
            <p class="stagger content">{{section.content}}</p>
        </div>
    </div>

</div>
