<div
    id="openedContainer"
    class="container {{type}}"
>
    <section class="Image">
        <img
            full-frame
            ng-src="{{post.image.sizes.large || 'assets/images/IMG_9636.jpg'}}" />
    </section>

    <section class="Details textureBg">
        <div class="Details-content">
            <h1 ng-bind-html="post.title"></h1>
            <p ng-if="!!post.description" ng-bind-html="post.description"></p>
            <p ng-if="!!post.level"><strong>{{ app.language === 'fr' ? 'Niveau : ' : 'Level : ' }}</strong>{{post.level}}</p>
            <p ng-if="!!post.duree"><strong>{{ app.language === 'fr' ? 'Durée : ' : 'Duration : ' }} </strong>{{post.duree}}</p>
            <button ng-click="app.go('contact')">{{ app.language === 'fr' ? 'Contacter l\'atelier' : 'Contact the workshop' }}</button>
        </div>
    </section>
</div>
