// MIXINS
.transition(@value) {
    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    transition: @value;
}
.transform(@value) {
    -webkit-transform: @value;
    -moz-transform: @value;
    -ms-transform: @value;
    transform: @value;
}

.box-shadow(@value){
    box-shadow: @value;
    -webkit-box-shadow: @value;
    -moz-box-shadow: @value;
    -o-box-shadow: @value;
}

// Colors
@black: #262626;
@opaqueBlack: rgba(0,0,0,.8);
@gray: #515151;
@lightGray: #95928e;
@grey-light: #888888;
@grey-dark: #444444;
@grey-black : #0c0c0c;
@beige: #e6dcd1;
@white: #E0D5C4;
@saumon: #ce7259;
@darkSaumon: #c13c25;
// sizes
@border: 15px;
@topBorder: 40px;
// FONTS
@title: 'Pistilli';
@subtitle: 'Montserrat';
@paragraph: 'Montserrat';
// EASEs
@easeInOut: cubic-bezier(.4,.01,.6,1);
@easeIn: cubic-bezier(.66,.01,.66,.73);
@easeOut: cubic-bezier(.03,.45,.08,1);


body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;

    &.grabbing{
        cursor: -webkit-grabbing;

        #atelierContainer div.center{
            cursor: -webkit-grabbing;
        }

        timeline{
            cursor: -webkit-grabbing;
        }
    }
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    z-index: 15;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
  background-color: @saumon;
}



button{
    position: relative;
    height: 45px;
    width: 250px;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;

    background-color: @black;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-family: @subtitle;
    font-size: 11px;
    letter-spacing: 3px;
    text-transform: uppercase;

    outline: none;
    border: none;
    cursor: pointer;



    .transition(.2s ease);

    &:hover{
        background-color: @saumon;
    }

    &:active{
        background-color: @darkSaumon;
    }

    &::after {
        content: "";
        background: url('../assets/images/texture-btn-black.png');
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }
}

.grayscale{
  	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.fioriture {
    height: 30px;
    width: 50px;
    margin: 50px 0;
    background: url("../assets/images/zigouigoui.svg") no-repeat;
}

.scroll{
    height: 40px;
    width: 40px;
    margin: 50px 0;
    cursor: pointer;
    background: url("../assets/images/scroll.png") no-repeat;
    line-height: 100px;
    font-family: @subtitle;
    font-style: normal;
}

.arrowLeft{
    height: 50px;
    width: 30px;
    background: url("../assets/images/arrowleft.svg") no-repeat;
    cursor: pointer;
}

.arrowRight{
    height: 50px;
    width: 30px;
    background: url("../assets/images/arrowright.svg") no-repeat;
    cursor: pointer;
}

div.border {
    position: absolute;
    background-color: #fff;
    .transition(.5s ease);
    z-index: 5;
    &.out {
        &.top {
            .transform(translateY(-@border));
        }
        &.bottom {
            .transform(translateY(@border));
        }
        &.left {
            .transform(translateX(-@border));
        }
        &.right {
            .transform(translateX(@border));
        }
    }
    &.top {
        top: 0;
        width: 100%;
        height: @topBorder;
    }
    &.bottom {
        bottom: 0;
        width: 100%;
        height: @border;
    }
    &.left {
        bottom: 0;
        top: 0;
        left: 0;
        width: @border;
        height: 100%;
    }
    &.right {
        bottom: 0;
        top: 0;
        right: 0;
        width: @border;
        height: 100%;
    }
}
[ui-view="main"] {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    padding: @border;
    padding-top: @topBorder;

    background-color: @beige;
}

menu {
    z-index: 10;
    font-family: @subtitle;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: @gray;

    cursor: pointer;

    &.mainMenu {
        position: relative;
        padding: 0;
        margin: 0;
        height: @border;
        text-align: center;
        tab {
            margin: 0 10px;
            padding: 10px;
            display: inline-block;
            &.active {
                border-bottom: 4px solid @saumon;
                color: @saumon;
            }
        }
    }
    &.lang {
        text-align: right;
        position: absolute;
        top: 0;
        right: 20px;
        width: 75px;
        height: @border;

        tab{
            &.currentLang{
                color: @saumon;
            }
        }
    }
}

.container{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.textureBg{
    &::after {
        content: "";
        background: url('../assets/images/bgtexture.jpg');
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}

// TITLES

h1, h2, h3, h4, h5 {
    margin: 0;
}
.firstTitle {
    color: @grey-light;
    text-align: center;
    font-family: @subtitle;
    font-weight: 700;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}


// BACKGROUND
.bgBeige {
    background: url('../assets/images/bg-beige.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 100%;
}
