.transition(@value){
    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    transition: @value;
}

.transform(@value){
    -webkit-transform: @value;
    -moz-transform: @value;
    -ms-transform: @value;
    transform: @value;
}

@black: #202020;
@topBorder: 40px;
@border: 20px;


body{
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

[ui-view="main"]{

    background: #EEE;

    left: @border;
    right: @border;
    top: @topBorder;
    bottom: @border;

    position: absolute;
    overflow: hidden;
}

menu.mainMenu{

    padding: 0;
    margin: 0;
    height: @topBorder;
    text-align: center;

    tab{

        margin: 0 10px;
        padding: 10px;
        display: inline-block;

        &.active{
            border-bottom: 2px solid @black;
        }
    }
}


menu.lang{

    text-align: right;
    position: absolute;
    top: 0;
    right: 40px;
    width: 75px;
    height: @topBorder;


}
